<h1> Enter the three values for the sides of the triangle </h1>

<form action ="/results">
  <div class = "form-group">
    <label id="side1"> Side 1 of the triangle </label>
    <input id="side1" name="side1" class="form-control" type="text">
  </div>
  <div class = "form-group">
    <label id="side2"> Side 2 of the triangle </label>
    <input id="side2" name="side2" class="form-control" type="text">
  </div>
  <div class = "form-group">
    <label id="side3"> Side 3 of the triangle </label>
    <input id="side3" name="side3" class="form-control" type="text">
  </div>
  <button type = "submit" class="btn-success"> Send </button>
</form>
